/* #region Basic styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #111;
  background-color: #fafafa;
  letter-spacing: -0.02em;
}

.container {
  max-width: 767.98px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1199.98px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-title {
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .section-title {
    width: 412px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.accent {
  color: #fd9222;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region Header */
.header {
  align-items: center;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-grow: 1;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.03em;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 47px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin-right: 365px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }
}

.logo-accent {
  font-style: italic;
}

.logo-icon {
  margin-left: 4px;
}

@media only screen and (max-width: 1199.98px) {
  .logo-icon {
    width: 21px;
    height: 21px;
  }
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 28px;
  height: 28px;
  padding: 0;
  color: #111111;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  stroke: currentColor;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav-list {
    gap: 20px;
  }
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 300ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

@media (hover: hover) {
  .nav-link: hover {
    color: #fd9222;
  }
}

@media not (hover: hover) {
  .nav-link:active {
    color: #fd9222;
  }
}

.nav-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

@media only screen and (max-width: 767.98px) {
  .nav-socials {
    display: none;
  }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  color: #111111;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.socials-link:hover,
.socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}

@media (hover: hover) {
  .socials-link: hover {
    color: #fd9222;
    border-color: rgba(253, 146, 34, 0.1);
  }
}

@media not (hover: hover) {
  .socials-link:active {
    color: #fd9222;
    border-color: rgba(253, 146, 34, 0.1);
  }
}

.socials-icon {
  fill: currentColor;
}

/* #endregion */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 1167.98px) {
  .hero {
    padding-bottom: 40px;
  }
}

.hero-container {
  max-width: 767.98px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 395px 20px 20px;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.1)),
    url(../images/hero/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    width: 704px;
    padding: 671px 40px 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)),
      url(../images/hero/hero-bg_tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)),
        url(../images/hero/hero-bg_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container {
    width: 1136px;
    padding: 381px 40px 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.1),
        rgba(17, 17, 17, 0.1)),
      url(../images/hero/hero-bg_desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(rgba(17, 17, 17, 0.1),
          rgba(17, 17, 17, 0.1)),
        url(../images/hero/hero-bg_desk@2x.jpg);
    }
  }
}

.hero-title {
  width: 293px;
  margin-bottom: 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.20;
  letter-spacing: -0.03em;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    width: 484px;
    margin-bottom: 32px;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
  }
}

.hero-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-buttons-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.buttons-list {
  display: flex;
}

.orange-button {
  border-radius: 100px;
  min-width: 120px;
  padding: 12px 28px;
  margin-right: 14px;
  color: #fff;
  font-weight: 600;
  background-color: #fd9222;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .orange-button {
    padding: 14px 40px;
    min-width: 144px;
  }
}

.orange-button:hover,
.orange-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

@media (hover: hover) {
  .orange-button: hover {
    color: #fd9222;
    background-color: #fcf1e0;
  }
}

@media not (hover: hover) {
  .orange-button:active {
    color: #fd9222;
    background-color: #fcf1e0;
  }
}

.grey-button {
  border-radius: 100px;
  border: 1px solid #fff;
  min-width: 159px;
  padding: 12px 28px;
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  transition: color 300ms ease-in-out, border-color 300ms ease-in;
}

@media only screen and (min-width: 768px) {
  .grey-button {
    padding: 14px 40px;
    min-width: 183px;
  }
}

.grey-button:hover,
.grey-button:focus {
  color: #fd9222;
  border-color: #fd9222;
}

@media (hover: hover) {
  .grey-button: hover {
    color: #fd9222;
    border-color: #fd9222;
  }
}

@media not (hover: hover) {
  .grey-button:active {
    color: #fd9222;
    border-color: #fd9222;
  }
}

.scroll-button {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  transition: color 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .scroll-button {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    transition: color 300ms ease-in-out;
  }
}

.scroll-down-icon {
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: background-color 300ms ease-in-out;
}

@media only screen and (max-width: 767.98px) {
  .scroll-down-icon {
    width: 28px;
    height: 28px;
  }
}

.scroll-button:hover,
.scroll-button:focus {
  color: #fd9222;
}
@media (hover: hover) {
  .scroll-button: hover {
    color: #fd9222;
  }
}

@media not (hover: hover) {
  .scroll-button:active {
    color: #fd9222;
  }
}

.icon-arrow {
  fill: #fd9222;
  transition: fill 300ms ease-in-out;
}

@media only screen and (max-width: 767.98px) {
  .icon-arrow {
    width: 16px;
    height: 16px;
  }
}

.scroll-down-icon:hover,
.scroll-down-icon:focus {
  background-color: #fd9222;
}
@media (hover: hover) {
  .scroll-down-icon: hover {
    background-color: #fd9222;
  }
}

@media not (hover: hover) {
  .scroll-down-icon:active {
    background-color: #fd9222;
  }
}

.icon-arrow:hover,
.icon-arrow:focus {
  fill: #fff;
}
@media (hover: hover) {
  .icon-arrow: hover {
    fill: #fff;
  }
}

@media not (hover: hover) {
  .icon-arrow:active {
    fill: #fff;
  }
}

/* #endregion */

/* #region Benefits */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  background-color: #1e1823;
  padding: 50px 0;
}

@media only screen and (max-width: 767.98px) {
  .benefits {
    padding: 20px 0;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 88px;
    row-gap: 44px;
    width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .benefits-list {
      justify-content: center;
      column-gap: 88px; 
      width: 1200px;
    }
}

.benefits-item {
  width: 308px;
}

@media only screen and (max-width: 767.98px) {
.benefits-item {
    width: 335px;
  }
}

.benefits-wrapper {
  display: flex;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.benefits-icon {
  fill: #fd9222;
}

.benefits-title {
  margin-bottom: 18px;
  color: #fff;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.70);
    line-height: normal;
    letter-spacing: -0.28px;
}

@media only screen and (min-width: 1200px) {
.benefits-text {
    line-height: 1.29;
  }
}
/* #endregion */

/* #region Ingridients */
.ingridients {
  background-color: #fff;
  padding-top: 120px;
}

.section-title {}

.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.ingridients-item {
  position: relative;
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px 23px;
  border-radius: 15px;
  border: 1px solid transparent;
  background: #fff;
}

.arrow-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: none;
  stroke: #fff;
}

.ingridients-item:nth-child(even) .arrow-icon {
  stroke: #fd9222;
}

.ingridients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}

.ingridients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.ingridients-item:nth-child(even) {
  border-color: #fd9222;
}

.ingridients-img {
  margin-bottom: 36px;
}

.ingridients-text {
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* #endregion */

/* #region How it's made */
.made {}

.section-title {}

.accent {}

.made-wrapper {
  display: flex;
  gap: 20px;
}

.made-left-side {
  position: relative;
  width: 600px;
}

.made-img {}

.made-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  fill: none;
  stroke: #fff;
}

.made-right-side {
  width: 516px;
  padding: 32px;
  background-color: #fff;
  border-radius: 15px;
}

.made-subtitle {
  width: 350px;
  margin-bottom: 28px;
}

.made-list {}

.made-item {
  display: flex;
  margin-bottom: 24px;
  line-height: 1.28;
}

.made-item::before {
  content: '';
  display: block;
  margin-top: 5px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}

.made-item:last-child {
  margin-bottom: 0;
}

/* #endregion */

/* #region Products */
.products {}

.section-title {}

.accent {}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 24px;
}

.products-item {
  border-radius: 15px;
  width: calc((100% - 3 * 18px) / 4);
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 32px 20px;
}

.products-img {
  margin-bottom: 8px;
}

.product-wrapper {
  display: block;
  text-align: center;
}

.product-name {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  /* 133.333% */
  text-transform: uppercase;
}

.product-description {
  margin-bottom: 18px;
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: -0.02em;
}

.product-button {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  font-weight: 600;
}

/* #endregion */

/* #region Top sellers */
.bestsellers {}

.section-title {}

.accent {}

.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.bestsellers-item {
  width: calc((100% - 2 * 16px) / 3);
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.bestsellers-img {}

.bestsellers-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  top: 0;
  left: 0;

  color: #fafafa;
  line-height: 1.29;

  background: linear-gradient(165deg,
      rgba(253, 253, 255, 0.1) 3.97%,
      rgba(8, 2, 21, 0) 109.76%);
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition: transform 500ms ease-in;
}

.bestsellers-item:hover .overlay {
  transform: translateY(0);
}

.bestsellers-name {
  padding: 28px 0;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  text-align: center;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: #fff;
}

/* #endregion */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}

.section-title {}

.accent {}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-item {
  position: relative;
  width: calc((100% - 2 * 28px) / 3);
  padding: 24px;
  padding-top: 56px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}

.reviews-avatar {
  position: absolute;
  left: calc(50% - 40px);
  top: -42px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-name {
  margin-bottom: 24px;
  text-align: center;
  line-height: 1.33;
}

.reviews-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  line-height: 1.29;
}

.reviews-button {
  display: block;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.reviews-button:hover,
.reviews-button:focus {
  color: #fff;
  background-color: #fd9222;
}

/* #endregion */

/* #region Footer */
.footer {
  padding: 50px 0;
  background-color: #1e1823;
}

.footer-wrapper {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-slogan {
  margin-right: auto;
  width: 300px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-socials-wrapper {
  margin-right: 50px;
}

.footer-socials {
  margin-bottom: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-socials-list {
  display: flex;
  gap: 14px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.footer .footer-socials-link:hover,
.footer .footer-socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}

.footer-address {
  font-style: normal;
}

.footer-contacts {
  margin-bottom: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-contacts-list {}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-address-link {
  color: #fff;
  text-align: center;
  line-height: 1.29;
  transition: color 300ms ease-in-out;
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: #fd9222;
}

.footer-menu-wrapper {
  padding-top: 24px;
  display: flex;
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-menu-item {}

.footer-menu-link {
  display: block;
  padding: 18px 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.14;
  transition: color 300ms ease-in-out;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}

.subscribe-wrapper {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  gap: 8px;
  align-items: center;
}

.subsribe-label {}

.subscribe-input {
  width: 313px;
  height: 52px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  outline: transparent;
  transition: border-color 300ms ease-in-out;
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.subscribe-input:focus {
  border: 1.5px solid #fd9222;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  min-width: 137px;
  padding: 17px 40px;
  color: #fff;
  font-weight: 600;
  line-height: 1.29;
  border-radius: 100px;
  background: #fd9222;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

/* #endregion */

/* #region Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background: #fafafa;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: color 300ms ease-in-out, transform 300ms ease-in-out;
  color: #111;
}

.icon-close {
  fill: currentColor;
  transition: fill 300ms ease-in-out, transform 500ms ease-in-out;
}

.close-btn:hover,
.close-btn:focus {
  color: #fd9222;
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: currentColor;
  transform: rotate(180deg);
}

.accent {}

.modal-title {
  max-width: 298px;
  margin-bottom: 40px;
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.review-form {}

.input-wrapper {
  margin-bottom: 18px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  color: rgba(64, 64, 64, 0.3);
}

.input {
  position: relative;
}

.input-field {
  min-width: 100%;
  min-height: 68px;
  padding: 22px 24px;
  padding-left: 62px;
  align-items: center;
  align-self: stretch;
  color: #404040;
  font-size: 18px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
  transition: border-color 300ms ease-in-out;
}

.input-field:not(:placeholder-shown):valid {
  border-color: lightgreen;
}

.input-field:not(:placeholder-shown):invalid {
  border-color: red;
}

.input-field:not(:placeholder-shown):valid+.input-icon {
  stroke: lightgreen;
}

.input-field:not(:placeholder-shown):invalid+.input-icon {
  stroke: red;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: transparent;
  stroke: #404040;
  transition: stroke 300ms ease-in-out;
}

.input-field:focus {
  border-color: #fd9222;
}

.input-field:focus+.input-icon {
  stroke: #fd9222;
}

.textarea {
  display: block;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  color: #404040;
  font-size: 18px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  outline: transparent;
  transition: border-color 300ms ease-in-out;
}

.textarea:focus {
  border-color: #fd9222;
}

.textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
}

.checkbox-wrapper {
  margin-bottom: 40px;
}

.checkbox {}

.checkbox-label {}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.icon-tick {
  fill: transparent;
  scale: 0.3;
  transition: fill 300ms ease-in-out, scale 300ms ease-in-out;
}

.checkbox:checked+.checkbox-label>.checkbox-icon {
  background-color: #fd9222;
  border: transparent;
}

.checkbox:checked+.checkbox-label>.checkbox-icon>.icon-tick {
  fill: #fff;
  scale: 1;
}

.checkbox:focus+.checkbox-label>.checkbox-icon {
  border-color: #fd9222;
}

.privacy-link {
  color: #fd9222;
  text-decoration: underline;
}

.send-btn {
  min-width: 117px;
  min-height: 45px;
  padding: 14px 40px;
  color: #fff;
  font-weight: 600;
  border-radius: 100px;
  background: #fd9222;
  outline: transparent;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.send-btn:hover,
.send-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1E1823;
  padding: 20px;
  padding-top: 136px;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  overflow-y: scroll;
  visibility: visible;
}

.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  transition: color 300ms ease-in-out, transform 300ms ease-in-out;
  color: #fff;
}

.menu-icon-close {
  fill: currentColor;
  transition: fill 300ms ease-in-out, transform 500ms ease-in-out;
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  color: #fd9222;
}

.menu-close-btn:hover .menu-icon-close,
.menu-close-btn:focus .menu-icon-close {
  fill: currentColor;
  transform: rotate(180deg);
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-nav-item {
  color: #FFF;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.active {
  color: #fd9222;
}

.menu-nav-link {}

.menu-socials {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 14px;
}

.menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  color: #fff;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.menu-socials-link:hover,
.menu-socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}

.menu-socials-icon {
  fill: currentColor;
}

.menu-socials-item {}



/* #endregion */