/* #region Basic styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #111;
  background-color: #fff;
  letter-spacing: -0.02em;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.accent {
  color: #fd9222;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* #endregion */

/* #region Header */
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-accent {
  font-style: italic;
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14x;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

/* #endregion */

/* #region Hero */
.hero {
  background-color: rgba(17, 17, 17, 0.7);
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.orange-button {
  color: #fff;
  font-weight: 600;
  background-color: #fd9222;
}

.grey-button {
  color: #fff;
  font-weight: 600;
  background-color: transparent;
}

.scroll-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.scroll-button {
}

.orange-button,
.grey-button,
.scroll-button {
  cursor: ;
}
/* #endregion */

/* #region Benefits */
.benefits {
  background-color: #1e1823;
}

.benefits-title {
  color: #fff;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.29;
}

/* #endregion */

/* #region Ingridients */
.ingridients {
}
.section-title {
}

.orange-text {
  color: #fd9222;
}

.ingridients-orange-div {
  background-color: #fd9222;
}

.ingridients-black-div {
  background-color: #1e1823;
}

.ingridients-white-div {
  border: 1px solid #fd9222;
}
/* .ingridients-img {
  background-color: #fd9222;
} */

.white-text {
  color: #fff;
  /* background-color: #fd9222; */
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.black-text {
  font-weight: 600;
  line-height: 1.29;
}
/* #endregion */
